body{
     overflow-x: hidden;
 }

.header-top {
    height: 26px;
}

.header-top .herald-menu>ul>li>a {
    padding: 3px 10px!important;
    font-size:12px;
}

.herald-post-thumbnail {
    background-color: rgba(0,0,0,0);
}

.home .herald-site-content {
    padding: 20px 0 1px;
}

.herald-mod-head:after, .herald-mod-title .herald-color, .widget-title:after, .widget-title span {
    color: #ffffff;
    background-color: #957fd5;
}

.header-middle .herald-menu ul>li>a {
    font-weight: 800;
}

.site-branding {
    margin-top: -8px;
}

.site-branding.mini {
    margin-top: -10px;
}
.herald-nav-toggle {
    padding: 12px 0 12px 0;
}
.herald-fa-wrapper.herald-fa-3 header.entry-header {
    background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.3) 50%, rgba(0,0,0,.5) 100%);
    background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.3) 50%, rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.3) 50%, rgba(0,0,0,.5) 100%);
    background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.3) 50%, rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.5)));
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.3) 50%, rgba(0,0,0,.5) 100%);
    padding: 40px 5.050505050505% 20px;
    /* position: absolute!important; */
    left: 0!important;
    bottom: 0!important;
    width: 100%!important;
}

.herald-fa-wrapper.herald-fa-3 header.entry-header h2.entry-title.h6 a {
    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -moz-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -ms-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -o-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.herald-fa-item:hover .fa-post-thumbnail:before, .herald-ovrld:hover .herald-post-thumbnail a:before, .herald-ovrld:hover .herald-post-thumbnail span:before {
    opacity: 0;
}

.fa-post-thumbnail:before, .herald-ovrld .herald-post-thumbnail span:before, .herald-ovrld .herald-post-thumbnail a:before {
    opacity: 0.2;
}

.featured-posts .fa-post-thumbnail:before {
    opacity: 0!important;
}

.entry-title.h1 {
    font-size: 3.4rem;
    line-height: 3.5rem;
}

.h2, .herald-no-sid .herald-posts .h3, h2 {
    font-size: 2.8rem;
    line-height: 4.2rem;
}

h2.entry-title.h5 {
    font-size: 1.8rem;
    line-height: 2.3rem;
}

.h3, h2.entry-title.h3, .herald-no-sid .herald-posts .h4, h3 {
    font-size: 2.3rem;
    line-height: 3.0rem;
    margin-bottom: 15px;
}

.h4, .herald-no-sid .herald-posts .h5, h4 {
    font-size: 2.0rem;
    line-height: 2.6rem;
}

h5.footer-menu {
    text-transform: uppercase;
    color: #cdcdcd;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.footer-widgets.container .textwidget ul li{
    margin:0!important;
}

.footer-widgets.container .textwidget ul li a {
    color: #cdcdcd;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    line-height: 30px;
}

.herald-copyright {
    font-size: 12px!important;
    color: #bfbfbf;
}

article img {
    border: 1px solid gainsboro;
}

.herald-no-sid .herald-fa-wrapper.herald-fa-3 .herald-fa-item:nth-of-type(1) .entry-title, .herald-no-sid .herald-fa-wrapper.herald-fa-4 .herald-fa-item:nth-of-type(1) .entry-title {
    font-size: 2.3rem;
    width: 380px;
    color: #fff;
    font-weight: 700;
    line-height: 120%;
    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -moz-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -ms-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -o-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.herald-no-sidbottom-banner {
    color: #fff;
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
    background-color: #6747c7;
}

.herald-no-sidbottom-banner .row {
    padding-top: 20px;
}

.herald-no-sidbottom-banner h1,
.herald-no-sidbottom-banner h2,
.herald-no-sidbottom-banner h3,
.herald-no-sidbottom-banner h4,
.herald-no-sidbottom-banner h5,
.herald-no-sidbottom-banner h6,
.herald-no-sidbottom-banner .entry-title a {
    color: #fff;
    margin-bottom: 25px;
}

.cta_btn a {
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    background: #ff4546;
    padding: 15px 35px;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
    display: inline-block;
}

table.price_no {
    position: relative;
    height: 80px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    width: 100px!important;
}

table.price_no tr {
    display: -webkit-box;
}

table.price_no tr td.currency {
    font-size: 28px;
    font-weight: 600;
    border: 0;
    padding: 0;
    width: auto!important;
}

table.price_no tr td.bigno {
    font-size: 100px;
    line-height: 68px;
    margin: 0;
    display: inline;
    font-weight: 600;
    margin-top: 0;
    padding-top: 0;
    border: 0;
    padding: 0;
}

table.price_no tr td.smallno {
    font-size: 22px;
    font-weight: 400;
    border: 0;
    padding: 0;
    width: auto!important;
}

table.price_no tr td .month {
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    bottom: 1px;
    width: auto!important;
}

ul#menu-hostinger-call-to-action-menu li:last-child a {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 15px;
}

div#sticky-header ul#menu-hostinger-call-to-action-menu-1 li {
    margin-top:3px;
}

div#sticky-header ul#menu-hostinger-call-to-action-menu-1 li:last-child a {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 15px;
}

div#sticky-header .site-branding.mini {
    margin-top: -4px;
}

div#sticky-header ul>li>a {
    font-weight: 800;
    border-radius: 5px;
    margin-right: 5px;
    padding: 12px 17px;
}

.herald-menu ul>li>a {
    float: left;
    padding: 12px 17px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.header-middle .herald-menu ul>li>a {
    border-radius: 5px;
    margin-right: 5px;
}

.herald-ovrld .meta-category a, .herald-fa-wrapper .meta-category a {
    background-color: #39168c;
}

.herald-no-sid .herald-fa-wrapper .meta-category a {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 1.8rem;
    font-weight: 700;
}

.herald-header-sticky {
    height: 55px;
}

@media (max-width: 1439px) and (min-width: 1360px){
    .herald-site-content {
        width: 100%;
        padding: 38px 0 0;
        max-width: 1280px;
    }
    .hel-c {
        max-width: 1200px;
    }
    .herald-header-sticky .container,
    .herald-single-sticky .container,
    .herald-site-footer .container,
    .herald-site-header .container {
        padding: 0;
        width: 100%;
        max-width: 1200px;
    }
}

.herald-menu-popup-search .herald-in-popup {
    width: 400px;
    background: none!important;
}

.home .herald-menu-popup-search {
    display: none;
}

div[id*="ajaxsearchlite"] {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: #fff;
    background: none;
    overflow: hidden;
    border: 1px solid #5435b0;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px #000000;
    border-radius: 5px;
}

#ajaxsearchlite1 .probox, div[id*="ajaxsearchlite"] .probox {
    margin: 0px;
    height: 60px;
    background-color: #fff;
    background-image: none;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgb(181, 181, 181) inset;
}

div[id*="ajaxsearchlite"] .probox .prosettings{
    width: 60px!important;
    height: 60px!important;
    background-color: #c3c3c3!important;
    background-image: none!important;
    border-left:1px solid #fff;
}

div[id*="ajaxsearchlite"] .probox .promagnifier{
    width: 60px!important;
    height: 60px!important;
    background-color: #ff4546!important;
    background-image: none!important;
    border-left: 1px solid #fff;
}

#ajaxsearchlite1 .probox .proinput input,
div[id*="ajaxsearchlite"] .probox .proinput input {
    font-weight: normal;
    font-family: Open Sans;
    color: #333 !important;
    font-size: 16px;
    line-height: normal !important;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    border: 0;
    box-shadow: none;
    height: 60px;
}

div[id*="ajaxsearchlite"] .probox .proinput input.autocomplete {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: normal !important;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    margin-top: -60px !important;
}

div[id*="ajaxsearchliteres"].vertical {
    padding: 4px;
    background: #5435b0;
    border-radius: 3px;
    border: 0px none rgb(0, 0, 0);
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px #000000;
    visibility: hidden;
    display: none;
}

#ajaxsearchlite1 .probox .proinput input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #333!important;
}
#ajaxsearchlite1 .probox .proinput input:-moz-placeholder, textarea:-moz-placeholder {
    color: #333!important;
}

div[id*="ajaxsearchlite"] .probox .proloading, div[id*="ajaxsearchlite"] .probox .proclose, div[id*="ajaxsearchlite"] .probox .promagnifier, div[id*="ajaxsearchlite"] .probox .prosettings {
    width: 60px;
    height: 60px;
}

div[id*="ajaxsearchlitesettings"].searchsettings {
    background-color: #6747c7;
    background-image:none!important;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

div[id*="ajaxsearchlitesettings"].searchsettings .label {
    font-weight: 400;
    font-family: Open Sans;
    color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 15px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchliteres"] .results .item .asl_content h3, div[id*="ajaxsearchliteres"] .results .item .asl_content h3 a {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(129, 98, 216);
    font-size: 15px;
    line-height: 17px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchliteres"] .results .item .asl_content {
    overflow: hidden;
    height: auto;
    background: transparent;
    margin: 0;
    padding: 10px 5px 5px 5px;
}

div[id*="ajaxsearchliteres"] .results .item .asl_content h3 a:hover {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(129, 98, 216);
    font-size: 16px;
    line-height: 17px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*='ajaxsearchliteres'].vertical .results .asl_spacer {
    background: none repeat scroll 0 0 #CCCCCC;
    display: block;
    height: 1px;
    width: 100%;
    margin: 0;
    padding: 0;
}

div[id*="ajaxsearchlite"] .probox div.prosettings .innericon::before {
    content: "\f013";
    font-family: FontAwesome;
    color: #fff;
    font-size: 24px;
    padding: 15px;
    display: block;
}

div[id*="ajaxsearchlite"] .probox div.prosettings .innericon svg {
    display: none!important;
}

.search-block::before {
    content: " ";
    background-color: #5335af;
    color: #fff;
    text-align: center;
    width: 200%;
    margin-left: -50%;
    margin-right: -50%;
    margin-bottom: -2px!important;
    position: absolute;
    height: 90px;
    margin-top: -20px;
}

.search-tutorials {
   max-width: 650px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-block-headder {
background-color: #5335af;
}

div[id*="ajaxsearchlitesettings"].searchsettings fieldset legend {
    padding: 5px 0 0 10px;
    margin: 0;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 26px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*='ajaxsearchlitesettings'].searchsettings form fieldset legend {
    padding: 5px 0 18px 10px;
}

blockquote {
    margin-left: 0!important;
    margin-right: 0!important;
    background: #f5f1ff ;
    padding: 5px 35px 5px 35px;
    margin-bottom: 35px;
    margin-top: 35px;
    position: relative;
    text-align: left;
    min-height: 78px;
}
.protip {
    margin-left: 0!important;
    margin-right: 0!important;
    color:#3c763d;
    background: #dff0d8!important;
    padding: 5px 35px 5px 35px;
    margin-bottom: 35px!important;
    margin-top: 35px!important;
    position: relative;
    text-align: left;
    min-height: 78px!important;
}

.protip p{
    margin: 2rem 0 2rem 0;
}
.quote_simple {
  background: #f9f9f9;
  quotes: "\201C""\201D""\2018""\2019";
  margin-bottom: 2rem;
  font-style: italic;
  padding: 5px 35px 5px 35px;
}
.herald-entry-content .quote_simple p {
  margin: 0!important;
}
herald-entry-content ol, .herald-entry-content p, .herald-entry-content ul {
    margin: 0 0 2rem; 
}
.quote_simple:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.quote_simple:after {
  content: close-quote!important;
  visibility:hidden; 
}
blockquote p {
    margin: 1.5rem 0 1.5rem;
}

.herald-entry-content blockquote p,
.herald-entry-content blockquote ul li{
    text-align: left;
    font-size: 18px;
    line-height: 26px;
    margin: 2rem 0 2rem 0;
    font-style: normal;
    color: #6747c7;
}

blockquote code{
    background-color: #e9e1ff;
}

.site-branding a img {
    width: 226px!important;
}
pre {
    white-space: pre;
    word-wrap: normal;
    overflow: auto!important;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-size: 15px;
    margin-bottom: 2rem;
    padding: 10px 20px;
    border: 1px solid transparent;
}

code {
    vertical-align: bottom;
    color: #6747c7;
    background: #f3f3f3;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgb(243, 243, 243);
    border-radius: 3px;
}

.crayon-theme-xcode {
    border: 1px solid #cecece!important;
}

.herald-gray-area {
    width: 100%;
    float: left;
    padding: 40px;
    display: none;
}

#respond {
    display: block!important;
}


.entry-meta-wrapper .herald-share .meta-share-wrapper {
    display: block!important;
    height: auto!important;
}

.mailerlite-form{
    border: 1px solid #6747c7;
    padding: 35px 35px 35px 215px;
    margin-bottom: 70px!important;
    margin-top: 35px!important;
    position: relative;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    float: none;
}



.mailerlite-form h3,
.mailerlite-form p{
    color: #6747c7;
}

.mailerlite-form h3 {
    margin-top: 25px;
    font-size:30px;
}

.mailerlite-form::before{
    content: " ";
    width: 162px;
    height: 198px;
    background-image: url(https://www.hostinger.web.tr/rehberler/wp-content/uploads/sites/2/2017/04/hostinger-dragon.png);
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 25px;
    left: 45px;
    background-size: 100%;
}

.mailerlite-form .mailerlite-subscribe-button-container {
    text-align: left;
}

.mailerlite-form input {
    display: inline-block;
    max-width: 500px;
    border-radius: 5px!important;
    height: 44px!important;
    vertical-align:top;
}

.mailerlite-form input[type="submit"] {
    padding: 2px 30px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
}

.share {
    background-color: #5435b0;
}

.share h1,
.share h2,
.share h3,
.share p{
    color:#fff;
}

.share .col-md-7,
.share .col-md-5 {
    height: 100px;
    margin-top: 35px;
}

.share::before {
    content: " ";
    background-color: #5335af;
    color: #fff;
    text-align: center;
    padding: 35px!important;
    width: 200%;
    margin-left: -50%;
    margin-right: -50%;
    margin-bottom: -2px!important;
    position: absolute;
    height: 135px;
}

.share_btns {
    padding-top: 20px;
}

.share_btns .tweet {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    max-height: 29px;
}

.share_btns .gplus {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    max-height: 25px;
}

.share_btns .fb {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    height: 32px;
}

.herald-site-footer .widget a:hover,
.herald-site-footer .herald-slider-controls .owl-prev:hover,
.herald-site-footer .herald-slider-controls .owl-next:hover,
.herald-site-footer .herald-slider-controls .herald-mod-actions:hover {
    color: #957fd5!important;
}

.herald-site-footer #herald_posts_widget-3  .h7 {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.herald-site-footer #herald_posts_widget-3 .entry-meta.meta-small,
.herald-site-footer #herald_posts_widget-3 .meta-small {
    font-size: 1.0rem;
    line-height: 1.6rem;
}

a {
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.error404 .herald-ovrld .herald-page-thumbnail span:before {
    background: none;
}

.error404 .herald-page .col-mod-single .herald-ovrld .entry-header .entry-title {
    color: #333;
}

.error404 .herald-page-thumbnail img {
    border: 0;
    max-width: 500px;
}

.error404 .herald-lay-over-wrapper,
.error404 .herald-page-thumbnail {
    position: relative;
    text-align: center;
}

.error404 .herald-page .col-mod-single .herald-ovrld .entry-header {
    position: absolute;
    top: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    margin: 0;
    width: 100%;
    z-index: 10;
}

.error404 .herald-page .col-mod-single .herald-ovrld {
    position: relative;
    padding: 15px 0;
    margin-bottom: 65px;
}

figcaption.wp-caption-text {
    background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
    background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
    background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
    background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
    padding: 40px 1.9550342131% 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 14px;
    max-width: 100%;
    background-color: rgba(0,0,0,0);
    font-weight: 600;
}

.herald-post-thumbnail-single:hover .wp-caption-text, .meta-media:hover .gallery-item:hover .gallery-caption, .meta-media:hover .wp-caption-text, .wp-caption:hover .wp-caption-text {
    background-color: rgba(0,0,0,0);
    background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.7) 100%);
    background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.7) 100%);
    background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.7) 100%);
    background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.7) 100%);
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.7) 100%);
}

.main-navigation {
    text-transform: capitalize;
}

.col-lg-2.col-md-2.col-sm-2.hidden-xs.herald-left {
    padding-left: 0;
}

.table_of_contents ul li {
    list-style-type: none;
    text-align: left;
    border-bottom: 1px solid #e4e4e4;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.table_of_contents ul li a:active,
.table_of_contents ul li a:hover {
    color: #6747c7;
}

.table_of_contents ul#my_toc {
    padding: 0;
}

.table_of_contents ul li a {
    color: #333;
}

span.toc_table {
    color: #ffffff;
    background-color: #957fd5;
    /* width: 100%; */
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 15px;
    font-family: 'Open Sans';
    font-weight: 700;
    padding: 4px 14px;
    text-align: left;
}

span.toc_table i.fa.fa-list {
    margin-right: 8px;
}

#toc_container p.toc_title {
    text-align: left;
    font-size: 2.2rem;
    line-height: 4.2rem;
    background: #957fd5;
    color: #fff;
    padding: 0px 15px;
    display: inherit;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

ul.toc_list {
    padding: 15px 15px 25px 15px!important;
    margin-top: 0!important;
    border-top: 2px solid #957fd5;
}

#toc_container li {
    margin-bottom: 5px;
}

#toc_container span.toc_toggle {
    margin-left: 8px;
}

span.toc_toggle a {
    font-size: 18px;
    color:#fff;
}

#toc_container {
    border: 0;
    width: 100%!important;
    padding: 0;
    border-radius: 3px;
}

.toc_wrap_left {
    float: none;
}

.widget-title span {
    padding: 4px 14px 3px 14px;
}

.herald-single-sticky {
    height: 40px;
    padding: 5px 0;
}

.herald-single-sticky .herald-share li {
    margin-left: 2px;
}

.herald-sticky-next a, .herald-sticky-prev a {
    font-size: 1.4rem;
    margin-top: 2px;
}

.error, div.wpcf7-validation-errors {
    background: none;
}

.mailerlite-form-field {
    margin-right: 10px;
}

.mailerlite-form {
    min-height: 260px;
}

.mailerlite-form label.error {
    color: #f00;
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    right: 0;
    bottom: -40px;
    font-size: 14px;
    padding: 10px 0px;
}

.mailerlite-form-response h4 p span {
    color: #7cc576!important;
    font-size: 24px;
    padding: 15px;
    display: block;
    text-align: center;
    background: #f5f5f5;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .container {
        width: 100%;
    }
}

@media (min-width:1024px){
    .mailerlite-form .mailerlite-form-field {
        position: relative;
        margin-bottom: 0;
        display: inline-block;
        min-width: 400px;
        vertical-align: bottom;
    }
    .mailerlite-form .mailerlite-subscribe-button-container {
        text-align: left;
        display: inline-block;
    }
}
@media (max-width:1366px){
    .table_of_contents ul li {
        list-style-type: none;
        text-align: left;
        border-bottom: 1px solid #e4e4e4;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 0;
        padding-bottom: 4px;
        padding-top: 4px;
    }
}

@media (max-width:1024px){
    .site-branding a img {
        width: 200px!important;
    }

    .herald-mobile-nav li a {
        width: 100%;
        display: block;
        height: 50px;
        font-weight: 800;
    }

    .herald-mobile-nav li a, .herald-mobile-nav .herald-mega-menu.herald-mega-menu-classic>.sub-menu>li>a {
        border-bottom: 0;
    }

    .herald-mobile-nav li:last-child {
        padding: 0 15px;
    }

    .herald-mobile-nav li:last-child a{
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 13px 15px;
        margin-top: 5px;
    }

    .herald-mobile-nav li:last-child a::after {
        content: "\f054";
        font-family: "FontAwesome";
        font-size: 14px;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        line-height: 1;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: 8px;
    }

    .menu-item-3220 {
        border-top: 1px solid rgba(255, 255, 255, 0.35);
        margin-top: 10px;
        padding-top: 10px;
    }

    .herald-mobile-nav li a:hover {
        color: #fff;
        background-color: #5435b0;
    }
}


@media (max-width: 1249px) and (min-width: 768px){
    .herald-sidebar {
        border-top: 0;
        border-bottom: 0;
    }
}

@media (min-width: 600px) and (max-width: 1024px){
    .home .herald-site-content {
        padding: 20px 15px 1px;
        overflow-x: hidden;
    }
    .mailerlite-form::before {
        content: " ";
        width: 162px;
        height: 198px;
        display: block;
        background-repeat: no-repeat;
        top: 25px;
        left: 25px;
        background-size: 100%;
        margin: 0 auto;
    }
    .herald-no-sidemail-form-submit .herald-txt-module {
        padding: 0 35px;
    }
    .site-branding.mini {
        margin-top: -2px;
    }
    .herald-menu ul>li>a {
        padding: 12px 10px;
    }
    div#sticky-header ul>li>a {
        padding: 12px 10px;
    }
    .herald-boxed .container, .herald-boxed .herald-site-content, .herald-boxed .herald-site-footer .container, .herald-lay-a .col-mod, .herald-site-content {
        max-width: 100%;
        width: 100%;
        clear: both;
        padding: 10px;
    }
    .search-tutorials {
        max-width: 600px;
        margin: 0 auto;
    }
    .herald-no-sidpromo-section::before,
    .herald-no-sidbottom-banner::before,
    .share::before{
        display:none;
    }
    .herald-sidebar {
        width: 35%;
        padding: 30px 8px;
        float: right;
        clear: inherit;
    }
    .col-lg-9.col-md-9.col-mod-single.col-mod-main {
        width: 60%;
        float: left;
    }
    .herald-module.col-mod-main.herald-main-content.col-lg-9.col-md-9 {
        width: 60%;
        float: left;
    }
    .col-lg-9.col-md-9.col-mod-single.col-mod-main .col-sm-10 {
        width: 100%;
    }
    .col-lg-2.col-md-2.col-sm-2.hidden-xs.herald-left {
        display:none;
    }

    .herald-lay-b .herald-post-thumbnail {
        margin-bottom: 15px;
        margin-right: 15px;
    }
    .entry-meta-wrapper .herald-share li {
        display: inline-block;
    }
    .herald-share-meta i {
        font-size: 2.6rem;
        margin: 0 0 10px;
        display: block;
        text-align: center;
    }
    span.herald-share-meta {
        margin-bottom: 15px!important;
    }
    .meta-item.herald-comments,
    .entry-meta-wrapper .herald-share span,
    .entry-meta-wrapper .entry-meta .meta-item{
        margin-bottom:0;
        padding:0;
    }
    .herald-mobile-nav.open {
        z-index: 100;
    }
    .comment-form-author, .comment-form-email, .comment-form-url {
        float: left;
        width: 100%;
        padding: 0;
        margin-bottom: 15px;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .herald-hor-col, .herald-section article {
        padding-right: 0;
        padding-left: 0;
    }
    div#herald-module-4-0 {
        padding: 0!important;
    }
    .mailerlite-form input {
        max-width: 100%!important;
    }

    .footer-widgets .col-md-3 {
        width: 33%;
    }
    .footer-widgets .col-md-3:last-child {
        width: 100%;
    }
    .footer-widgets .col-md-3:last-child .col-xs-3 {
        width: 95px;
        margin-right: 10px;
    }
}

@media (max-width: 991px) {
    .share .col-md-5 {
        margin-top: 0!important;
    }
    .share .col-md-5 .share_btns {
        padding-top: 0;
    }
    .share .col-md-7, .share .col-md-5 {
        height: 80px;
    }
}

@media (min-width: 600px) and (max-width: 992px) {
    .herald-module .row > .herald-lay-f,
    .herald-module .row > .herald-lay-g,
    .herald-module .row > .herald-lay-h,
    .herald-site-content .herald-related .herald-lay-f,
    .herald-site-content .herald-related .herald-lay-g,
    .herald-site-content .herald-related .herald-lay-h {
        max-width: 100%;
        width: 80%;
        margin-bottom: 30px;
        padding: 0 25px;
        margin: 0 auto;
    }

    .herald-lay-f .herald-ovrld .entry-header h2.entry-title.h6 a {
        font-size: 2.5rem;
        line-height: 2.8rem;
        -webkit-text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
        -moz-text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
        -ms-text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
        -o-text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
        text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    }
}
@media (max-width: 767px) {
    .site-branding.mini {
        margin-top: -5px;
    }
    .container, .herald-boxed .container, .herald-boxed .herald-site-content, .herald-boxed .herald-site-footer .container, .herald-lay-a .col-mod, .herald-site-content {
        max-width: 100%;
        width: 100%;
        clear: both;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .share::before {
        height: 185px;
    }
    .share .col-md-5 {
        height: 70px!important;
    }
    figcaption.wp-caption-text {
        padding: 15px 0;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        color: #5f5f5f;
        font-size: 15px;
        max-width: 100%;
        background-color: rgba(0,0,0,0);
        font-weight: 400;
        font-style: italic;
        background: none;
        line-height: 18px;
    }
    .herald-fa-wrapper.herald-fa-3 header.entry-header h2.entry-title.h6 a {
        line-height: 110%;
    }
    .herald-no-sid .herald-fa-wrapper.herald-fa-3 .herald-fa-item:nth-of-type(1) .entry-title,
    .herald-no-sid .herald-fa-wrapper.herald-fa-4 .herald-fa-item:nth-of-type(1) .entry-title {
        max-width: 100%;
    }
    h1, h2, h3, h4, h5, h6, .entry-title a {
        line-height: 115%;
    }
}

@media (max-width: 599px) {
    .home .herald-site-content {
        padding: 20px 0 1px;
        overflow-x: hidden;
    }
    .search-block {
        margin-left: -10px;
        margin-right: -10px;
    }
    .search-block::before {
        content: " ";
        background-color: #5335af;
        color: #fff;
        text-align: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: -2px!important;
        position: absolute;
        height: 140px;
        margin-top: -40px;
    }
    .search-tutorials {
        margin-bottom: 0;
        margin-top: 0;
        padding: 0 15px;
    }
    .herald-no-sidpromo-section::before,
    .herald-no-sidbottom-banner::before,
    .share::before{
        display:none;
    }
    .mailerlite-form {
        padding: 35px 35px 35px 35px!important;
        margin: 0!important;
    }
    .mailerlite-form::before {
        position: relative;
        top: 0px;
        left: auto;
        background-size: 100%;
        margin: 0 auto;
    }
    .herald-no-sidemail-form-submit .herald-txt-module {
        padding: 0 35px;
    }
    .herald-no-sidpromo-section {
        padding: 0;
    }
    div#herald-section-5 {
        padding: 0;
    }
}

@media (max-width: 425px){
    .share .col-md-7, .share .col-md-5 {
        height: auto;
    }
    article.herald-fa-item {
        max-width: 100%!important;
    }
    .herald-no-sid .herald-fa-wrapper.herald-fa-1 .entry-content, .herald-no-sid .herald-fa-wrapper.herald-fa-1 .entry-header, .herald-no-sid .herald-fa-wrapper.herald-fa-3 .herald-fa-item {
        width: 400px!important;
    }
    .entry-title.h1 {
        font-size: 2.3rem;
        line-height: 3.0rem;
    }
    .entry-content .h2, .entry-content h2 {
        margin-bottom: 1.8rem;
        font-size: 2.0rem;
        line-height: 2.6rem;
    }
}

.herald-no-sidpromo-section::before {
    content: " ";
    background-color: #8466d1;
    color: #fff;
    text-align: center;
    padding: 35px!important;
    width: 200%;
    margin-left: -50%;
    margin-right: -50%;
    margin-bottom: -2px!important;
    position: absolute;
    margin-top: 0;
    height: 437px;
}

.herald-no-sidpromo-section .herald-txt-module {
    margin: 0;
}
.herald-no-sidpromo-section{
    display:none;
}

.mejs-controls {
    display: none!important;
}


/**@media (min-width: 1024px) {
    #toc_container {
        display:none!important;
    }
}
**/
.herald-single .herald-ovrld .entry-header .entry-title {
    color: #FFF;
    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -moz-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -ms-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -o-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    text-align: left;
    display: block;
}
.herald-sidebar-right .herald-lay-f .herald-ovrld .entry-header {
    padding: 15px 25px 15px 15px;
}
.herald-ovrld header.entry-header {
    padding: 0 25px;
}
.herald-ovrld .herald-post-thumbnail span:before {
    opacity: 0.02;
}

.herald-ovrld span.meta-category {
    text-align: left;
}

.herald-ovrld .meta-category a {
    padding: 4px 18px;
}

.herald-ovrld .entry-header .entry-meta {
    margin-top: 10px;
    text-align: left;
    -webkit-text-shadow: 1px 1px 0px rgba(0,0,0,.3);
    -moz-text-shadow: 1px 1px 0px rgba(0,0,0,.3);
    -ms-text-shadow: 1px 1px 0px rgba(0,0,0,.3);
    -o-text-shadow: 1px 1px 0px rgba(0,0,0,.3);
    text-shadow: 1px 1px 0px rgba(0,0,0,.3);
    font-weight: 600;
}

.herald-lay-f .herald-ovrld .entry-header {
    width: 100%!important;
    padding: 15px 85px 15px 15px;
    text-align: left;
}

.herald-lay-f .herald-ovrld .entry-header h2.entry-title.h6 a {
    font-size: 1.5rem;
    line-height: 1.8rem;
    -webkit-text-shadow: 1px 1px 3px rgba(0,0,0,.5);
    -moz-text-shadow: 1px 1px 3px rgba(0,0,0,.5);
    -ms-text-shadow: 1px 1px 3px rgba(0,0,0,.5);
    -o-text-shadow: 1px 1px 3px rgba(0,0,0,.5);
    text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

.herald-sidebar.col-lg-3.col-md-3.herald-sidebar-right .herald-lay-f .herald-ovrld .entry-header h2 a {
    font-size: 1.46rem;
    line-height: 1.8rem;
}
.herald-ovrld .meta-category a, .herald-fa-wrapper .meta-category a {
    font-weight: 800;
    border-radius: 0!important;
    margin-right: 2px;
}

.herald-sidebar .widget {
    margin-bottom: 80px;
}

.herald-sidebar .widget-title {
    font-size: 2.4rem!important;
}


.herald-sidebar .widget-title span {
    padding: 8px 16px 8px 16px;
}

.herald-sidebar .widget  h2.entry-title.h5 {
    font-size: 2.2rem;
    line-height: 2.6rem;
}


.herald-widget-post-count {
    float: left;
    font-size: 36px;
    font-weight: 800;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #957fd5;
}

div#herald_posts_widget-2 .h7 {
    font-size: 16px;
    line-height: 22px;
}

.bottom-sale-banner {
    border-top:1px solid #5435b0;
    border-bottom:1px solid #5435b0;
}


/* Make CTA red */

.header-middle .hel-el .herald-menu li:last-child a:hover,
div#sticky-header .hel-el .herald-menu li:last-child a:hover{
    text-decoration: none;
    border: 2px solid #ff4546;
    color: #fff;
    opacity: .6;
}

.header-middle .hel-el .herald-menu li:last-child a,
div#sticky-header .hel-el .herald-menu li:last-child a{
    border: 2px solid #ff4546;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    background-color: #ff4546;
}

.mac-ss, .mac-screenshot {
    border: none;
}
